footer {
    position: absolute;
    background: #000;
    width: 100%;
    left: 0;
    z-index: 100;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 100px;
        height: 1px;
        width: 100%;
        background: #000;
    }
    
    .content {
        max-width: 600px;
        margin: auto;
        padding: 20px;

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5px;

            .logo-details {
                color: #fff;
                font-size: 24px;
            }

            .media-icons {
                display: flex;

                a {
                    height: 40px;
                    width: 40px;
                    margin: 0 8px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 40px;
                    color: #fff;
                    font-size: 17px;
                    text-decoration: none;
                    transition: all 0.4s ease;
                }
            }
        
        }

        .link-boxes {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .box {
                width: calc(100% / 5 - 10px);

                .link_name {
                    color: #fff;
                    font-size: 15px;
                    font-weight: 500;
                    margin-bottom: 10px;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -2px;
                        height: 2px;
                        width: 35px;
                        background: #fff;
                    }
                }

                .link_nameh {
                    opacity: 0;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 400;
                    margin-bottom: 10px;
                    position: relative;
                }

                li {
                    margin: 3px 0;
                    list-style: none;

                    a {
                        color: #fff;
                        font-size: 13px;
                        font-weight: 400;
                        text-decoration: none;
                        opacity: 0.8;
                        transition: all 0.4s ease;

                        &:hover {
                            opacity: 1;
                            text-decoration: underline;
                        }
                    }
                }
            }

            .input-box {
                margin-right: 5px;

                input {
                    height: 30px;
                    width: calc(100% + 55px);
                    outline: none;
                    border: 2px solid #afafb6;
                    background: #140b5c;
                    border-radius: 4px;
                    padding: 0 15px;
                    font-size: 15px;
                    color: #fff;
                    margin-top: 5px;

                    &::placeholder {
                        color: #afafb6;
                        font-size: 16px;
                    }
                }

                input[type="button"] {
                    background: #fff;
                    color: #140b5c;
                    border: none;
                    font-size: 12px;
                    font-weight: 500;
                    margin: 4px 0;
                    opacity: 0.8;
                    cursor: pointer;
                    transition: all 0.4s ease;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .bottom-details {
        width: 100%;
        background: #2c303a;

        .bottom_text {
            max-width: 1250px;
            margin: auto;
            padding: 20px 40px;
            display: flex;
            justify-content: space-between;
        }

        .bottom_text span, .bottom_text a {
            font-size: 14px;
            font-weight: 300;
            color: #fff;
            opacity: 0.8;
            text-decoration: none;
        }

        .bottom_text a {
            margin-right: 10px;
            &:hover {
                opacity: 1;
                text-decoration: underline;
            }
        }
    }
}

.c-number:hover {
    text-decoration: none !important;
}

.box {
    display: none;
}

.lastone {
    width: 100%;
    display: inline-block;
}

.c-li {
    width: 500px !important;
}