#info {
    display: flex;
    flex-direction: column;
    box-shadow: #111;
}

[data-aos] {
    pointer-events: auto !important;
}

html:not(.no-js) [data-aos^="fade"][data-aos^="fade"] {
    opacity: 1 !important;
}

html:not(.no-js) [data-aos="fade-in"] {
    transform: none !important;
}