.contenido {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

.formulario-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-right: 10em;
}

.gmap {
    margin-top: 1em;
    height: 466px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px #00000010;
}

.mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contacto {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 91vh;
    display: flex;
    background: #111;
    transition: 0.5s;
    z-index: 2;
    display: inline-flex;
    background-color: black;
    line-height: 1.6em;
    align-items: center;
    flex-direction: column;

    video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.8;
        z-index: -5;
    }

    label{
        font-weight: 600;
    }

    h2{
        font-weight: 700;
        color: rgb(255, 255, 255);
        line-height: 1em;
        text-transform: uppercase;
        padding-top: 1em;
        margin-top: 0;
        z-index: 10;
    }

    .social-contact{
        z-index: 10;
        margin-top: 0.2em;
        margin-bottom: 1em;
        display: flex;

        fas{
            transform: scale(1.2);
            margin-top: 4px;
        }

        a{
            font-weight: 600;
            font-size: 1em;
            margin-top: 0px;
            text-decoration: underline;
        }

        .scroll-arrow{
            position: absolute;
            z-index: 10;
            top: 2em;
            width: 90%;
            display: flex;
            text-decoration: none;
            justify-content: center;
            color: #fff;
            font-size: 2em;
        }
    }
}

.overlay {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 90vh;
    background: rgba(0, 0, 0, 0.576);
}

.container-form {
    z-index: 10;
    width: 500px;
    max-width: 600px;
    height: 466px;
    margin-top: 1em;
    padding: 1em 2em 2em 2em;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
}

.form-group {
    font-weight: 600;
    width: 100%;
    margin-top: 1em;
    font-size: 16px;
    input, textarea {
        width: 100%;
        padding: 5px;
        font-size: 14px;
        border: 1px solid rgba(128, 128, 128, 0.199);
        margin-top: 5px;
    }
}

textarea {
    resize: none!important;
}

button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 18px;
    border-radius: 8px;
    color: rgb(27, 166, 247);
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease background-color;
    &:hover{
        background-color: rgb(189, 231, 250);
    }
}

#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 5px;
    border-radius: 8px;

    .success {
        background-color: rgb(211, 250, 153);
        animation: status 4s ease forwards;
    }

    .error {
        background-color: rgb(250, 129, 92);
        color: white;
        animation: status 4s ease forwards;
    }
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }

    90% {
        opacity: 1;
        pointer-events: all;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}

.divscrollup {
    display: flex;
    grid-column: 1/4;
    margin-top: 2em;
}

.scroll-arrowup {
    transform: rotate(180deg);
    width: 96.5%;
    z-index: 10;
    margin-top: 1em;
    display: flex;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
    color: #fff;
    font-size: 2em;
    transition: 0.2s;
    &:hover {
        transform: translateY(-7px) rotate(180deg);
    }
}