

header {
    background-color: $headerblack;
    position: fixed;
    z-index: 400;
    top: 0;
    left: 0;
    width: 100%;
    height: 108px;
    display: flex;
    justify-content: center;
    transition: 0.3s;
    @media only screen and (max-width: 1280px) {
        background-color: $headerblack;
        height: 90px;
    }
    @media only screen and (max-width: 720px) {
        height: 80px;
    }

    &.home{
        background-color: transparent;
        @media only screen and (max-width: 1280px) {
            background-color: $headerblack;
        }
    }

    &.scrolled {
        background-color: $headerblack;
    }

    .wrapper {
        max-width: 1920px;
        width: 88%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo-header {
            height: 4.5em;
            cursor: pointer;
            align-items: center;
            display: flex;
            @media only screen and (max-width: 1280px) {
                height: 4em;
            }
            @media only screen and (max-width: 720px) {
                height: 3em;
            }
        }

        .mobile-icon {
            display: none;

            @media screen and (max-width: 1280px) {
                display: flex;
                align-items: center;
                cursor: pointer;
                height: 1em;
            }
        }

        .menu {
            height: 100%;
            display: flex;
            justify-content: space-between;
            list-style: none;

            &.show {
                display: flex;
            }

            @media screen and (max-width: 1280px) {
                display: flex;
                background-color: $headerblack;
                position: absolute;
                top: 73px;
                left: 0;
                width: 100%;
                height: 145px;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                transition: 0.5s all ease;
                padding-bottom: 0.5em;
            }
            @media only screen and (max-width: 1280px) {
                top: 80px;
            }
            @media only screen and (max-width: 720px) {
                top: 70px;
            }
            li {
                height: 100%;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    margin: 0rem 0.75rem;
                    color: #fff;
                    font-family: "Poppins", sans-serif;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 500;
                    cursor: pointer;
                    transition: 0.5s all ease;
                    opacity: 0.85;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff !important;
                    text-decoration: none;
                    @media only screen and (max-width: 1280px) {
                        justify-content: flex-start;
                        margin: auto;
                        width: 90vw;
                        font-size: 0.9rem;
                    }
                    @media only screen and (max-width: 720px) {
                        justify-content: flex-start;
                        margin: auto;
                        width: 87.5vw;
                        font-size: 0.9rem;
                    }
                }
            }

            .dropdown-menu {
                position: absolute;
                top: 80px;
                display: flex;
                align-items: center;
                gap: 2em;
                height: auto;
                width: auto;
                margin-left: -2em;
                background-color: #fff;
                border-radius: 12px;
                padding: 20px;
                opacity: 1;
                @media only screen and (max-width: 1280px) {
                    width: 100%;
                    margin: auto;
                    top: 8rem;
                    flex-direction: column;
                    background-color: $headerblack;
                    border-radius: 0;
                    gap: 1em;
                }

                .list {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    justify-content: flex-start;
                    @media only screen and (max-width: 1280px) {
                        width: 90vw;
                    }
                    @media only screen and (max-width: 720px) {
                        width: 87.5vw;
                    }
                    
                }

                .dropLi {
                    width: 100%;
                    cursor: pointer;
                    line-height: 10px;
                    opacity: 1;
                    color: black;
                    list-style: none;
                    display: flex;
                    align-items: center;

                    .circle {
                        background-color: white;
                        width: 47px;
                        height: 35px;
                        border-radius: 50%;
                        position: relative;
                        background-position: center;
                        background-size: cover;
                        filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.08));
                        @media only screen and (max-width: 1280px) {
                            display: none;
                        }
                    }

                    a {
                        width: 100%;
                        justify-content: flex-start;
                        font-family: "roboto";
                        font-size: 0.9em;
                        font-weight: 500;
                        color: black !important;
                        text-align: start;
                        opacity: 0.86;
                        text-transform: capitalize;
                        @media only screen and (max-width: 1280px) {
                            line-height: 1rem;
                            font-family: 'Poppins';
                            font-weight: 600;
                            color: rgb(155, 214, 253) !important;
                            font-size: 0.9rem;
                            text-transform: uppercase;
                        }
                        @media only screen and (max-width: 720px) {
                            line-height: 1rem;
                            font-family: 'Poppins';
                            font-weight: 600;
                            color: rgb(155, 214, 253) !important;
                            font-size: 0.9rem;
                            text-transform: uppercase;
                        }

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
