#slideshow div {
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    visibility: hidden;
    &.active{
        opacity: 1;
        -webkit-transition: all 1s ease-in-out 0.2s;
        -moz-transition: all 1s ease-in-out 0.2s;
        -ms-transition: all 1s ease-in-out 0.2s;
        -o-transition: all 1s ease-in-out 0.2s;
        transition: all 1s ease-in-out 0.2s;
        visibility: visible;
    }
}