@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@viewport {
    user-zoom: fixed;
}

/*--general--*/

:root {
    --headerblack: rgb(21, 21, 21);
    --lightblue: rgb(27, 166, 247);
    --darkblue: rgb(27, 99, 255);
    --hoverdarkblue: rgb(23, 74, 182);
    --darkgreen: rgb(4, 186, 146);
    --hoverdarkgreen: rgb(0, 145, 113);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 84px;
}

body {
    background: #fff;
    padding: 2em 0;
    line-height: 1.6;
    justify-content: center;
    min-height: 100vh;
    overflow: overlay;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(142, 145, 148);
    border-radius: 15px;
    border-right: 2px solid transparent;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/*----GLOBALES----*/

h1 {
    text-transform: uppercase;
    color: #fff;
}

h3 {
    font-size: 2.5em;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: 0.8em;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

span {
    color: #ffdead;
    font-weight: 600;
}

.p-bold {
    color: #fff;
    font-weight: 600;
}

video {
    z-index: -2;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.cover-image {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    z-index: -10;
}

.overlay {
    z-index: -4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.576);
}

.overlay-cover {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 50vh;
    background: rgba(0, 0, 0, 0.576);
}

.container-cover {
    width: 90%;
    margin: 0 auto;
}

a {
    list-style: none;
    text-decoration: none;
    color: #fff;
    color: #111;
}

/*------HEADER-------*/

.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: 0.2s;
    z-index: 1000;
    background: var(--headerblack);
}

.header a {
    color: white;
    text-decoration: none;
    padding: 0;
}

.scrolling-active {
    background: var(--headerblack);
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
    transition: 0.2s;
    padding-top: 0em;
    padding-bottom: 0em;
}

.scrolling-black {
    background: var(--headerblack);
}

.scrolling-active .navigation a {
    color: rgb(255, 255, 255);
    font-weight: 500;
    transition: 0.2s;
}

.scrolling-active .logo-png {
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-png {
    height: 5.5em;
    transform: scale(0.9);
    transition: 0.2s;
}

.logo {
    height: 5.5em;
    transition: 0.09s;
}

.scrolling-logo {
    transform: scale(0.8);
}

.scrolling-nav {
    transform: scale(0.9);
}

.menu {
    display: none !important;
}

.navigation ul {
    margin: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: inline-block;
    position: relative;
    margin-right: 1em;
    padding: 20px 0px;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.85;
}

.navigation ul li a:hover {
    opacity: 1;
}

.navigation ul li a::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #ffffff;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover::before {
    width: 100%;
}

/*----submenu-----*/

.productos {
    cursor: pointer;
}

.navigation li:hover ul.subs {
    display: flex;
    width: 100%;
}

.subs {
    display: none;
}

.subs-click {
    position: absolute;
    display: flex;
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
}

.subs-scroll {
    position: absolute;
    display: flex;
    height: auto;
    width: auto;
}

.subs li ul li a {
    font-size: 0.8em;
    width: 100%;
}

.subs li ul {
    display: flex;
    flex-direction: column;
    margin-right: 3.1em;
}

.navigation ul.subs>li {
    display: flex;
    float: none;
    padding: 0;
    vertical-align: top;
    width: auto;
}

.navigation ul.subs>li a {
    color: rgb(0, 0, 0);
    line-height: 1px;
    font-weight: 600;
}

.navigation ul.subs>li>a {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.navigation ul.subs>li li {
    float: none;
    padding-left: 8px;
    -moz-transition: padding 150ms ease-out 0s;
    -ms-transition: padding 150ms ease-out 0s;
    -o-transition: padding 150ms ease-out 0s;
    -webkit-transition: padding 150ms ease-out 0s;
    transition: padding 150ms ease-out 0s;
}

#nav ul.subs>li li:hover {
    padding-left: 15px;
}

.productos i {
    margin-right: 5px;
}

.li-list {
    display: flex;
    align-items: center;
}

.scroll-arrow {
    position: absolute;
    z-index: 10;
    margin-top: 3em;
    display: block;
    text-decoration: none;
    text-align: center;
    margin-left: 20px;
    width: 100%;
    color: #fff;
    font-size: 2em;
    transition: 0.2s;
}

.scroll-arrow:hover {
    transform: translateY(7px);
}

/*---ITEM-----*/

.item {
    position: relative;
    padding-top: 7em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    height: 100%;
    align-items: center;
}

.title-item {
    color: var(--darkblue);
    margin: 0;
}

.multitables {
    display: flex;
    flex-direction: column;
}

.content-item {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 20em;
    row-gap: 3em;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 5em;
}

summary {
    width: 600px;
    background-color: var(--darkblue);
    padding: 0.5em;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    border-bottom: solid;
}

summary:hover {
    background-color: var(--hoverdarkblue);
    ;
}

.item-img {
    height: 400px;
    transition: 0.3s;
}

.image-div {
    transition: 0.3s;
}

.image-div:hover {
    transform: translateY(-0.5em);
    transition: 0.3s;
}

.info-div {
    display: flex;
    align-items: center;
}

.pdf {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.1em 1.5em;
    background-color: var(--darkblue);
    font-weight: 600;
    transition: 0.3s;
    border-radius: 4px;
}

.pdf:hover {
    background-color: var(--hoverdarkblue);
}

.pdf-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    transition: 0.3s;
}

.pdf i {
    margin-right: 10px;
    filter: invert(100%);
}

.caja {
    margin-top: -2em;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.05em 1.5em;
    background-color: var(--darkgreen);
    font-weight: 600;
    transition: 0.3s;
    border-radius: 4px;
}

.caja:hover {
    background-color: var(--hoverdarkgreen);
}

.caja-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    transition: 0.3s;
}

.caja i {
    margin-right: 10px;
    filter: invert(100%);
}


details[open] summary~* {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: -10px
    }

    100% {
        opacity: 1;
        margin-left: 0px
    }
}

/*---TABLE----*/

.tabla-chica {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    padding: 5px;
    min-width: 600px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.mini th {
    font-size: 16px;
    padding: 8px;
}

.mini td {
    font-size: 16px;
}

th {
    color: #D5DDE5;
    ;
    background: var(--headerblack);
    font-size: 20px;
    font-weight: 500;
    padding: 12px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

tr {
    color: var(--headerblack);
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background-color: var(--darkblue);
    color: #FFFFFF;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

tr:nth-child(odd):hover td {
    background-color: var(--darkblue);
}

tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

td {
    background: #FFFFFF;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}

td.code {
    font-weight: 500;
}

.tecnica-quirurgica {
    grid-column: 1/3;
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tecnica-title {
    display: flex;
    color: var(--darkblue);
    font-size: 1.6em;
    justify-content: center;
}

/*------------------------------FOOTER-------------------------*/

footer {
    position: absolute;
    background: #000;
    width: 100%;
    left: 0;
    z-index: 100;
}

footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #000;
}

footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content .top .logo-details {
    color: #fff;
    font-size: 30px;
}

.content .top .media-icons {
    display: flex;
}

.content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
}

.content .link-boxes .box .link_nameh {
    opacity: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

.link-boxes .box .link_name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}

.content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
}

.content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.content .link-boxes .input-box {
    margin-right: 55px;
}

.link-boxes .input-box input {
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
    color: #AFAFB6;
    font-size: 16px;
}

.link-boxes .input-box input[type="button"] {
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
    opacity: 1;
}

footer .bottom-details {
    width: 100%;
    background: #2c303a;
}

footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom_text a {
    margin-right: 10px;
}

.c-number {
    cursor: default;
}

.c-number:hover {
    text-decoration: none !important;
}

/*-------------------------------MOBILE-------------------------------------------------------*/

@media only screen and (max-width:719px) {

    /*-------GLOBALES--------------------------*/
    * {
    }

    @viewport {
        user-zoom: fixed;
    }

    h3 {
        text-align: center;
        padding-top: 1em;
        margin-bottom: 0px;
        font-size: 1.5em;
    }

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }

    body::-webkit-scrollbar {
        width: 3px;
        background-color: transparent;
    }

    body::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 15px;
    }

    #style-3::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    /*-------HEADER-------------------*/
    .menu {
        display: block !important;
        cursor: pointer;
        font-size: 1.7em;
        color: rgb(255, 255, 255);
    }

    .header {
        padding-top: 10px;
        padding-bottom: 5px;
        justify-content: center;
        background-color: var(--headerblack);
        box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
    }

    .navigation {
        width: 90%;
        margin-top: 10px;
        padding-bottom: 0px;
    }

    .navigation ul {
        display: none;
    }

    .navigation ul.show {
        display: block;
        padding: 0px;
    }

    .navigation ul li {
        display: block;
    }

    .navigation ul li a {
        display: block;
        padding: 0.1rem 0.6rem;
        transition: all 0.4 linear;
        font-size: 0.8em;
        line-height: 25px;
        margin-top: 0;
        opacity: 1;
    }

    .navigation ul li a::before {
        transition: 0s;
        height: 0;
        position: absolute;
        background-color: none;
    }

    .nav-link-ltr::before {
        width: 0%;
        bottom: 10px;
    }

    .nav-link-ltr:hover::before {
        width: 100%;
    }

    .navigation ul.show.subs {
        transition: all 0.3s ease;
        opacity: 0;
        position: relative;
        height: inherit;
        max-height: 0px;
        overflow: hidden;
    }

    .navigation ul.subs.show.subs-click {
        opacity: 1;
        max-height: 340px;
    }

    .header .navigation ul.show {
        display: none;
    }

    .header.scrolling-active .navigation ul.show {
        display: block;
    }

    .logo-png {
        height: 3em;
        filter: invert(0%);
    }

    .logo {
        height: 3em;
    }

    .scrolling-logo {
        transform: scale(1);
    }

    h1 {
        margin-bottom: 0;
        font-size: 1em;
        font-weight: 700;
        color: rgb(255, 255, 255);
        line-height: 1em;
        text-transform: uppercase;
    }

    /* submenu */
    .subs {
        opacity: 100;
        padding-bottom: 180px;
        display: flex;
    }

    .productos {
        cursor: pointer;
    }

    .navigation li:hover ul.subs {
        display: grid;
        width: 100%;
    }

    .subs {
        display: none;
        opacity: 0;
        height: 0px;
    }

    .subs-click {
        position: absolute;
        display: flex;
        opacity: 100%;
        padding: 0px;
        margin-top: 0px;
        width: auto;
        height: 280px;
        width: 100%;
        border-radius: 5px;
        background-color: transparent;
        transition: 0.4s;
    }

    .subs-scroll {
        position: absolute;
        display: flex;
        height: auto;
        width: auto;
    }

    .subs li ul li a {
        font-size: 0.8em;
        color: rgb(255, 255, 255);
    }

    .subs li ul {
        display: grid;
        justify-content: center;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }

    .navigation ul.subs>li {
        display: flex;
        float: none;
        padding: 0;
        vertical-align: top;
        width: auto;
    }

    .navigation ul.subs>li a {
        color: #9bd6fd;
        line-height: 20px;
        font-weight: 600;
        line-height: 25px;
    }

    .navigation ul.subs>li>a {
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .navigation ul.subs>li li {
        float: none;
        padding-left: 0px;
        -moz-transition: padding 150ms ease-out 0s;
        -ms-transition: padding 150ms ease-out 0s;
        -o-transition: padding 150ms ease-out 0s;
        -webkit-transition: padding 150ms ease-out 0s;
        transition: padding 150ms ease-out 0s;
    }

    #nav ul.subs>li li:hover {
        padding-left: 0px;
    }

    .prod-click {
        padding-bottom: 10px;
    }

    /*----HOME-----------*/
    #home {
        position: relative;
        padding-top: 0.7em;
        padding-bottom: 0.2em;
        right: 0;
        width: 100%;
        height: 100%;
        min-height: 96vh;
        justify-content: center;
        background: #111;
        transition: 0.5s;
        z-index: 2;
        display: flex;
    }

    .h-grid {
        margin-top: 3em;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding-top: 1em;
    }

    #home h1 {
        font-size: 2em;
        width: 80%;
        line-height: 1.1em;
    }

    .content {
        order: 2;
        align-items: center;
    }

    .image {
        order: 1;
        align-items: center;
        display: none;
    }

    .pic {
        height: 150px;
        justify-content: center;
    }

    .divscroll {
        order: 3;
    }

    #home video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.8;
        z-index: -5;
    }

    .p-text {
        font-size: 1em;
        width: 100%;
        margin-top: 1em;
        justify-content: center;
    }

    .btn {
        display: inline-block;
        font-size: 0.8em;
        background: #fff;
        padding: 7px 17px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        margin-top: 1em;
        color: #111;
        letter-spacing: 2px;
        transition: 0.2s;
        cursor: pointer;
        border: none;
    }

    .btn:hover {
        letter-spacing: 3px;
    }

    .social {
        display: none;
    }

    .social li {
        list-style: none;
    }

    .social li a {
        display: inline-block;
        margin-right: 20px;
        transition: 0.5s;
        text-decoration: none;
        color: white;
    }

    .jump {
        transition: 0.5s;
    }

    .jump:hover {
        transform: translateY(-10px);
    }

    .social-contact {
        display: inline-flex;
        margin-left: 0px;
    }

    .social-contact i {
        display: inline-block;
        margin-right: 10px;
        transition: 0.5s;
        text-decoration: none;
        color: white;
    }

    .p-social {
        display: inline-block;
        margin-right: 10px;
        margin-top: -10px;
        transition: 0.5s;
        text-decoration: none;
        font-size: 1em;
        color: white;
    }

    .scroll-arrow {
        z-index: 10;
        display: flex;
        text-decoration: none;
        text-align: center;
        justify-content: center;
        transition: 0.2s;
        font-size: 2em;
        color: #fff;
    }

    .scroll-arrow:hover {
        transform: translateY(7px);
    }

    /*-----------------ITEM----------------*/
    .item {
        position: relative;
        padding-top: 3em;
        padding-bottom: 1.5em;
        display: flex;
        flex-direction: column;
        min-height: 90vh;
        height: 100%;
        align-items: center;
    }

    .title-item {
        color: var(--darkblue);
        margin: 0;
        font-size: 1.6em;
    }

    .content-item {
        display: grid;
        grid-template-columns: auto;
        column-gap: 20em;
        row-gap: 1.5em;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin-top: 3em;
    }

    .image-div {
        display: flex;
        justify-content: center;
    }

    .item-img {
        display: flex;
        height: 200px;
        justify-content: center;
    }

    .info-div {
        display: flex;
        align-items: center;
    }

    .pdf {
        grid-column: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0.5em 1.5em;
        background-color: var(--darkblue);
        font-weight: 600;
        transition: 0.3s;
        border-radius: 4px;
    }

    .pdf:hover {
        background-color: var(--hoverdarkblue);
    }

    .pdf-content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        transition: 0.3s;
    }

    .pdf i {
        margin-right: 10px;
        filter: invert(100%);
    }

    .caja {
        margin-top: -1em;
        grid-column: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0.5em 1.5em;
        background-color: var(--darkgreen);
        font-weight: 600;
        transition: 0.3s;
        border-radius: 4px;
    }

    .caja:hover {
        background-color: var(--hoverdarkgreen);
    }

    .caja-content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        transition: 0.3s;
    }

    .caja i {
        margin-right: 10px;
        filter: invert(100%);
    }

    .tecnica-quirurgica {
        grid-column: 1;
        display: flex;
        padding-top: 0em;
        padding-bottom: 2em;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .tecnica-title {
        display: flex;
        color: var(--darkblue);
        font-size: 1.6em;
        justify-content: center;
    }

    .yt-video {
        width: 300px;
        height: 200px;
    }

    summary {
        width: 300px;
        font-size: 0.9em;
    }

    /*---TABLE----*/
    .tabla-chica {
        background: white;
        border-radius: 3px;
        border-collapse: collapse;
        max-height: 220px;
        min-width: 300px;
        max-width: 300px;
        margin: auto;
        padding: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    th {
        color: #D5DDE5;
        ;
        background: var(--headerblack);
        font-size: 16px;
        font-weight: 500;
        padding: 14px;
        text-align: left;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        vertical-align: middle;
    }

    .mini th {
        font-size: 15px;
    }

    tr {
        color: var(--headerblack);
        font-size: 12px;
        font-weight: normal;
        text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    }

    tr:hover td {
        background-color: var(--darkblue);
        color: #FFFFFF;
    }

    tr:nth-child(odd) td {
        background: #EBEBEB;
    }

    tr:nth-child(odd):hover td {
        background-color: var(--darkblue);
    }

    tr:last-child td:first-child {
        border-bottom-left-radius: 5px;
    }

    tr:last-child td:last-child {
        border-bottom-right-radius: 5px;
    }

    td {
        background: #FFFFFF;
        padding: 10px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 15px;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    }

    .mini td {
        font-size: 15px;
    }

    td:last-child {
        border-right: 0px;
    }

    th.text-left {
        text-align: left;
    }

    th.text-center {
        text-align: center;
    }

    th.text-right {
        text-align: right;
    }

    td.text-left {
        text-align: left;
    }

    td.text-center {
        text-align: center;
    }

    td.text-right {
        text-align: right;
    }

    td.code {
        font-weight: 500;
    }

    /*------------------------------FOOTER-------------------------*/
    [data-aos-duration] {
        transition-duration: 0 !important;
    }

    [data-aos] {
        pointer-events: auto !important;
    }

    html:not(.no-js) [data-aos^=fade][data-aos^=fade] {
        opacity: 1 !important;
    }

    html:not(.no-js) [data-aos=fade-in] {
        transform: none !important;
    }

    footer {
        position: absolute;
        background: #000;
        width: 100%;
        left: 0;
        z-index: 100;
    }

    footer::before {
        content: '';
        position: absolute;
        left: 0;
        top: 100px;
        height: 1px;
        width: 100%;
        background: #000;
    }

    footer .content {
        max-width: 600px;
        margin: auto;
        padding: 20px;
    }

    footer .content .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .content .top .logo-details {
        color: #fff;
        font-size: 24px;
    }

    .content .top .media-icons {
        display: flex;
    }

    .content .top .media-icons a {
        height: 40px;
        width: 40px;
        margin: 0 8px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        color: #fff;
        font-size: 17px;
        text-decoration: none;
        transition: all 0.4s ease;
    }

    footer .content .link-boxes {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    footer .content .link-boxes .box {
        width: calc(100% / 5 - 10px);
    }

    .content .link-boxes .box .link_name {
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 10px;
        position: relative;
    }

    .content .link-boxes .box .link_nameh {
        opacity: 0;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 10px;
        position: relative;
    }

    .link-boxes .box .link_name::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 2px;
        width: 35px;
        background: #fff;
    }

    .content .link-boxes .box li {
        margin: 3px 0;
        list-style: none;
    }

    .content .link-boxes .box li a {
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
        opacity: 0.8;
        transition: all 0.4s ease
    }

    .content .link-boxes .box li a:hover {
        opacity: 1;
        text-decoration: underline;
    }

    .content .link-boxes .input-box {
        margin-right: 5px;
    }

    .link-boxes .input-box input {
        height: 30px;
        width: calc(100% + 55px);
        outline: none;
        border: 2px solid #AFAFB6;
        background: #140B5C;
        border-radius: 4px;
        padding: 0 15px;
        font-size: 15px;
        color: #fff;
        margin-top: 5px;
    }

    .link-boxes .input-box input::placeholder {
        color: #AFAFB6;
        font-size: 16px;
    }

    .link-boxes .input-box input[type="button"] {
        background: #fff;
        color: #140B5C;
        border: none;
        font-size: 12px;
        font-weight: 500;
        margin: 4px 0;
        opacity: 0.8;
        cursor: pointer;
        transition: all 0.4s ease;
    }

    .input-box input[type="button"]:hover {
        opacity: 1;
    }

    footer .bottom-details {
        width: 100%;
        background: #2c303a;
    }

    footer .bottom-details .bottom_text {
        max-width: 1250px;
        margin: auto;
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
    }

    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 14px;
        font-weight: 300;
        color: #fff;
        opacity: 0.8;
        text-decoration: none;
    }

    .bottom-details .bottom_text a:hover {
        opacity: 1;
        text-decoration: underline;
    }

    .bottom-details .bottom_text a {
        margin-right: 10px;
    }

    .c-number:hover {
        text-decoration: none !important;
    }

    .box {
        display: none;
    }

    .last {
        width: 100%;
        display: inline-block;
    }

    .c-li {
        width: 500px !important;
    }
}

/*---------------------IPAD------------------------------------------------------------------*/

@media only screen and (min-width:720px) and (max-width:1269px) {

    /*-------HEADER-------------------*/
    .menu {
        display: block !important;
        cursor: pointer;
        font-size: 1.7em;
        color: rgb(255, 255, 255);
    }

    .header {
        padding-top: 10px;
        padding-bottom: 5px;
        justify-content: center;
        background-color: var(--headerblack);
        box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
    }

    .navigation {
        width: 90%;
        margin-top: 10px;
        padding-bottom: 0px;
    }

    .navigation ul {
        display: none;
    }

    .navigation ul.show {
        display: block;
        padding: 0px;
    }

    .navigation ul.show.subs {
        transition: all 0.3s ease;
        opacity: 0;
        position: relative;
        height: inherit;
        max-height: 0px;
        overflow: hidden;
    }

    .navigation ul.subs.show.subs-click {
        opacity: 1;
        max-height: 340px;
    }

    .navigation ul li {
        display: block;
    }

    .navigation ul li a {
        display: block;
        padding: 0.1rem 0.6rem;
        transition: all 0.4 linear;
        font-size: 0.8em;
        margin-top: 0;
        line-height: 30px;
        opacity: 1;
    }

    .navigation ul li a::before {
        transition: 0s;
        height: 0;
        position: absolute;
        background-color: none;
    }

    .nav-link-ltr::before {
        width: 0%;
        bottom: 10px;
    }

    .nav-link-ltr:hover::before {
        width: 100%;
    }

    .logo-png {
        height: 3em;
        filter: invert(0%);
    }

    .logo {
        height: 3em;
    }

    .scrolling-logo {
        transform: scale(1);
    }

    h1 {
        margin-bottom: 0;
        font-size: 1em;
        font-weight: 700;
        color: rgb(255, 255, 255);
        line-height: 1em;
        text-transform: uppercase;
    }

    /* submenu */
    .subs {
        opacity: 100;
        padding-bottom: 180px;
        display: flex;
    }

    .productos {
        cursor: pointer;
    }

    .navigation li:hover ul.subs {
        display: grid;
        width: 100%;
    }

    .subs {
        display: none;
        opacity: 0;
        height: 0px;
    }

    .subs-click {
        position: absolute;
        display: flex;
        opacity: 100%;
        padding: 0px;
        margin-top: 0px;
        width: auto;
        height: 290px;
        width: 100%;
        border-radius: 5px;
        background-color: transparent;
        transition: 0.4s;
    }

    .subs-scroll {
        position: absolute;
        display: flex;
        height: auto;
        width: auto;
    }

    .subs li ul li a {
        font-size: 0.8em;
        color: rgb(255, 255, 255);
    }

    .subs li ul {
        display: grid;
        justify-content: center;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }

    .navigation ul.subs>li {
        display: flex;
        float: none;
        padding: 0;
        vertical-align: top;
        width: auto;
    }

    .navigation ul.subs>li a {
        color: #9bd6fd;
        line-height: 20px;
        font-weight: 600;
        line-height: 25px;
    }

    .navigation ul.subs>li>a {
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .navigation ul.subs>li li {
        float: none;
        padding-left: 0px;
        -moz-transition: padding 150ms ease-out 0s;
        -ms-transition: padding 150ms ease-out 0s;
        -o-transition: padding 150ms ease-out 0s;
        -webkit-transition: padding 150ms ease-out 0s;
        transition: padding 150ms ease-out 0s;
    }

    #nav ul.subs>li li:hover {
        padding-left: 0px;
    }

    .prod-click {
        padding-bottom: 10px;
    }

    /*------------------------------FOOTER-------------------------*/
    [data-aos-duration] {
        transition-duration: 0 !important;
    }

    [data-aos] {
        pointer-events: auto !important;
    }

    html:not(.no-js) [data-aos^=fade][data-aos^=fade] {
        opacity: 1 !important;
    }

    html:not(.no-js) [data-aos=fade-in] {
        transform: none !important;
    }

    footer {
        position: absolute;
        background: #000;
        width: 100%;
        left: 0;
        z-index: 100;
    }

    footer::before {
        content: '';
        position: absolute;
        left: 0;
        top: 100px;
        height: 1px;
        width: 100%;
        background: #000;
    }

    footer .content {
        max-width: 600px;
        margin: auto;
        padding: 20px;
    }

    footer .content .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .content .top .logo-details {
        color: #fff;
        font-size: 24px;
    }

    .content .top .media-icons {
        display: flex;
    }

    .content .top .media-icons a {
        height: 40px;
        width: 40px;
        margin: 0 8px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        color: #fff;
        font-size: 17px;
        text-decoration: none;
        transition: all 0.4s ease;
    }

    footer .content .link-boxes {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    footer .content .link-boxes .box {
        width: calc(100% / 5 - 10px);
    }

    .content .link-boxes .box .link_name {
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 10px;
        position: relative;
    }

    .content .link-boxes .box .link_nameh {
        opacity: 0;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 10px;
        position: relative;
    }

    .link-boxes .box .link_name::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 2px;
        width: 35px;
        background: #fff;
    }

    .content .link-boxes .box li {
        margin: 3px 0;
        list-style: none;
    }

    .content .link-boxes .box li a {
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
        opacity: 0.8;
        transition: all 0.4s ease
    }

    .content .link-boxes .box li a:hover {
        opacity: 1;
        text-decoration: underline;
    }

    .content .link-boxes .input-box {
        margin-right: 5px;
    }

    .link-boxes .input-box input {
        height: 30px;
        width: calc(100% + 55px);
        outline: none;
        border: 2px solid #AFAFB6;
        background: #140B5C;
        border-radius: 4px;
        padding: 0 15px;
        font-size: 15px;
        color: #fff;
        margin-top: 5px;
    }

    .link-boxes .input-box input::placeholder {
        color: #AFAFB6;
        font-size: 16px;
    }

    .link-boxes .input-box input[type="button"] {
        background: #fff;
        color: #140B5C;
        border: none;
        font-size: 12px;
        font-weight: 500;
        margin: 4px 0;
        opacity: 0.8;
        cursor: pointer;
        transition: all 0.4s ease;
    }

    .input-box input[type="button"]:hover {
        opacity: 1;
    }

    footer .bottom-details {
        width: 100%;
        background: #2c303a;
    }

    footer .bottom-details .bottom_text {
        max-width: 1250px;
        margin: auto;
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
    }

    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 14px;
        font-weight: 300;
        color: #fff;
        opacity: 0.8;
        text-decoration: none;
    }

    .bottom-details .bottom_text a:hover {
        opacity: 1;
        text-decoration: underline;
    }

    .bottom-details .bottom_text a {
        margin-right: 10px;
    }

    .c-number:hover {
        text-decoration: none !important;
    }

    .box {
        display: none;
    }

    .last {
        width: 100%;
        display: inline-block;
    }

    .c-li {
        width: 500px !important;
    }

    /*-----------------ITEM----------------*/
    .item {
        position: relative;
        padding-top: 5em;
        padding-bottom: 1.5em;
        display: flex;
        flex-direction: column;
        min-height: 90vh;
        height: 100%;
        align-items: center;
    }

    .title-item {
        color: var(--darkblue);
        margin: 0;
        font-size: 1.7em;
        display: flex;
        justify-content: center;
    }

    .content-item {
        display: grid;
        grid-template-columns: auto;
        column-gap: 20em;
        row-gap: 1.5em;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 3em;
    }

    .image-div {
        display: flex;
        justify-content: center;
    }

    .item-img {
        display: flex;
        height: 280px;
        justify-content: center;
    }

    .info-div {
        display: flex;
        align-items: center;
    }

    .pdf {
        grid-column: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0.5em 1.5em;
        background-color: var(--darkblue);
        font-weight: 600;
        transition: 0.3s;
        border-radius: 4px;
    }

    .pdf:hover {
        background-color: var(--hoverdarkblue);
    }

    .pdf-content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        transition: 0.3s;
    }

    .pdf i {
        margin-right: 10px;
        filter: invert(100%);
    }

    .caja {
        margin-top: -1em;
        grid-column: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0.5em 1.5em;
        background-color: var(--darkgreen);
        font-weight: 600;
        transition: 0.3s;
        border-radius: 4px;
    }

    .caja:hover {
        background-color: var(--hoverdarkgreen);
    }

    .caja-content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        transition: 0.3s;
    }

    .caja i {
        margin-right: 10px;
        filter: invert(100%);
    }

    .tecnica-quirurgica {
        grid-column: 1;
        display: flex;
        padding-top: 2em;
        padding-bottom: 2em;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .tecnica-title {
        display: flex;
        color: var(--darkblue);
        font-size: 1.6em;
        justify-content: center;
    }

    /*---TABLE----*/
    .tabla-chica {
        background: white;
        border-radius: 3px;
        border-collapse: collapse;
        max-height: 220px;
        min-width: 600px;
        margin: auto;
        padding: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    th {
        color: #D5DDE5;
        ;
        background: var(--headerblack);
        font-size: 16px;
        font-weight: 500;
        padding: 14px;
        text-align: left;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        vertical-align: middle;
    }

    tr {
        color: var(--headerblack);
        font-size: 12px;
        font-weight: normal;
        text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    }

    tr:hover td {
        background-color: var(--darkblue);
        color: #FFFFFF;
    }

    tr:nth-child(odd) td {
        background: #EBEBEB;
    }

    tr:nth-child(odd):hover td {
        background-color: var(--darkblue);
    }

    tr:last-child td:first-child {
        border-bottom-left-radius: 5px;
    }

    tr:last-child td:last-child {
        border-bottom-right-radius: 5px;
    }

    td {
        background: #FFFFFF;
        padding: 10px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 15px;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    }

    td:last-child {
        border-right: 0px;
    }

    th.text-left {
        text-align: left;
    }

    th.text-center {
        text-align: center;
    }

    th.text-right {
        text-align: right;
    }

    td.text-left {
        text-align: left;
    }

    td.text-center {
        text-align: center;
    }

    td.text-right {
        text-align: right;
    }

    td.code {
        font-weight: 500;
    }
}

/*--------------------NOTEBOOK------------------------------------------------------------------*/

@media only screen and (min-width:1270px) and (max-width:1500px) {

    /*------HEADER-------*/
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .header {
        padding-top: 0.6em;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        transition: 0.2s;
        z-index: 1000;
    }

    .header a {
        color: white;
        text-decoration: none;
        padding: 0;
    }

    .scrolling-active {
        background: white;
        box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
        transition: 0.2s;
        padding-top: 0em;
        padding-bottom: 0em;
    }

    .scrolling-logo {
        filter: invert(0%);
        transform: scale(0.8);
    }

    .scrolling-black {
        background: rgb(21, 21, 21);
    }

    .scrolling-active .navigation a {
        color: white;
        font-weight: 500;
    }

    .scrolling-active .logo-png {
        color: black;
    }

    .logo-nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .logo-png {
        height: 5.5em;
        transform: scale(0.8)
    }

    .logo {
        height: 5.5em;
    }

    .scrolling-nav {
        transform: scale(0.9);
    }

    .menu {
        display: none !important;
    }

    .scrolling-menu {
        filter: invert(0%);
    }

    .navigation ul {
        margin: 0;
        list-style: none;
    }

    .navigation ul li {
        display: inline-block;
    }

    .navigation ul li a {
        display: inline-block;
        position: relative;
        margin-right: 1em;
        padding: 20px 0px;
        font-size: 0.91em;
        font-weight: 500;
        text-transform: uppercase;
        opacity: 0.85;
    }

    .navigation ul li a:hover {
        opacity: 1;
    }

    .navigation ul li a::before {
        transition: 300ms;
        height: 3px;
        content: "";
        position: absolute;
        background-color: #ffffff;
    }

    .nav-link-ltr::before {
        width: 0%;
        bottom: 10px;
    }

    .nav-link-ltr:hover::before {
        width: 100%;
    }

    .lastnav {
        margin-bottom: 5px;
    }

    /* submenu */
    .productos {
        cursor: pointer;
    }

    .navigation li:hover ul.subs {
        display: flex;
        width: 100%;
    }

    .subs {
        display: none;
    }

    .subs-click {
        position: absolute;
        display: flex;
        height: auto;
        width: auto;
        background-color: rgba(255, 255, 255);
        border-radius: 5px;
        padding: 5px;
    }

    .subs-scroll {
        position: absolute;
        display: flex;
        height: auto;
        width: auto;
    }

    .subs li ul li a {
        font-size: 0.7em;
        width: 100%;
    }

    .subs li ul {
        display: flex;
        flex-direction: column;
        margin-right: 3em;
    }

    .navigation ul.subs>li {
        display: flex;
        float: none;
        padding: 0;
        vertical-align: top;
        width: auto;
    }

    .navigation ul.subs>li a {
        color: rgb(0, 0, 0);
        line-height: 1px;
        font-weight: 600;
    }

    .navigation ul.subs>li>a {
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .navigation ul.subs>li li {
        float: none;
        padding-left: 8px;
        -moz-transition: padding 150ms ease-out 0s;
        -ms-transition: padding 150ms ease-out 0s;
        -o-transition: padding 150ms ease-out 0s;
        -webkit-transition: padding 150ms ease-out 0s;
        transition: padding 150ms ease-out 0s;
    }

    #nav ul.subs>li li:hover {
        padding-left: 15px;
    }

    /*---ITEM-----*/
    .item {
        position: relative;
        padding-top: 7em;
        padding-bottom: 1em;
        display: flex;
        flex-direction: column;
        min-height: 90vh;
        height: 100%;
        align-items: center;
    }

    .title-item {
        color: var(--darkblue);
        margin: 0;
    }

    .content-item {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 15em;
        row-gap: 3em;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin-top: 8em;
    }

    .item-img {
        height: 350px;
    }

    .info-div {
        display: flex;
        align-items: center;
    }

    .pdf {
        grid-column: 1/3;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1em 1.5em;
        background-color: var(--darkblue);
        font-weight: 600;
        transition: 0.3s;
        border-radius: 4px;
    }

    .pdf:hover {
        background-color: var(--hoverdarkblue);
    }

    .pdf-content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        transition: 0.3s;
    }

    .pdf i {
        margin-right: 10px;
        filter: invert(100%);
    }

    .caja {
        margin-top: -2em;
        grid-column: 1/3;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1em 1.5em;
        background-color: var(--darkgreen);
        font-weight: 600;
        transition: 0.3s;
        border-radius: 4px;
    }

    .caja:hover {
        background-color: var(--hoverdarkgreen);
    }

    .caja-content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        transition: 0.3s;
    }

    .caja i {
        margin-right: 10px;
        filter: invert(100%);
    }

    /*---TABLE----*/
    .tabla-chica {
        background: white;
        border-radius: 3px;
        border-collapse: collapse;
        height: 280px;
        margin: auto;
        padding: 5px;
        min-width: 500px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    th {
        color: #D5DDE5;
        ;
        background: var(--headerblack);
        font-size: 20px;
        font-weight: 500;
        padding: 14px;
        text-align: left;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        vertical-align: middle;
    }

    tr {
        color: var(--headerblack);
        font-size: 16px;
        font-weight: normal;
        text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    }

    tr:hover td {
        background-color: var(--darkblue);
        color: #FFFFFF;
    }

    tr:nth-child(odd) td {
        background: #EBEBEB;
    }

    tr:nth-child(odd):hover td {
        background-color: var(--darkblue);
    }

    tr:last-child td:first-child {
        border-bottom-left-radius: 5px;
    }

    tr:last-child td:last-child {
        border-bottom-right-radius: 5px;
    }

    td {
        background: #FFFFFF;
        padding: 14px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 18px;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    }

    td:last-child {
        border-right: 0px;
    }

    th.text-left {
        text-align: left;
    }

    th.text-center {
        text-align: center;
    }

    th.text-right {
        text-align: right;
    }

    td.text-left {
        text-align: left;
    }

    td.text-center {
        text-align: center;
    }

    td.text-right {
        text-align: right;
    }

    td.code {
        font-weight: 500;
    }
}

@media only screen and (min-width:1030px) and (max-width:1270px) {

    /*---ITEM-----*/
    .item {
        position: relative;
        padding-top: 7em;
        padding-bottom: 1.5em;
        display: flex;
        flex-direction: column;
        min-height: 90vh;
        height: 100%;
        align-items: center;
    }

    .title-item {
        color: var(--darkblue);
        margin: 0;
    }

    .content-item {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 10em;
        row-gap: 3em;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin-top: 8em;
    }

    .item-img {
        height: 350px;
    }

    .info-div {
        display: flex;
        align-items: center;
    }

    .pdf {
        grid-column: 1/3;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1.1em 1.5em;
        background-color: var(--darkblue);
        font-weight: 600;
        transition: 0.3s;
        border-radius: 4px;
    }

    .pdf:hover {
        background-color: var(--hoverdarkblue);
    }

    .pdf-content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        transition: 0.3s;
    }

    .pdf i {
        margin-right: 10px;
        filter: invert(100%);
    }

    .caja {
        margin-top: -2em;
        grid-column: 1/3;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1.1em 1.5em;
        background-color: var(--darkgreen);
        font-weight: 600;
        transition: 0.3s;
        border-radius: 4px;
    }

    .caja:hover {
        background-color: var(--hoverdarkgreen);
    }

    .caja-content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        transition: 0.3s;
    }

    .caja i {
        margin-right: 10px;
        filter: invert(100%);
    }

    /*---TABLE----*/
    .tabla-chica {
        background: white;
        border-radius: 3px;
        border-collapse: collapse;
        height: 280px;
        margin: auto;
        padding: 5px;
        min-width: 500px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    th {
        color: #D5DDE5;
        ;
        background: var(--headerblack);
        font-size: 20px;
        font-weight: 500;
        padding: 14px;
        text-align: left;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        vertical-align: middle;
    }

    tr {
        color: var(--headerblack);
        font-size: 16px;
        font-weight: normal;
        text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    }

    tr:hover td {
        background-color: var(--darkblue);
        color: #FFFFFF;
    }

    tr:nth-child(odd) td {
        background: #EBEBEB;
    }

    tr:nth-child(odd):hover td {
        background-color: var(--darkblue);
    }

    tr:last-child td:first-child {
        border-bottom-left-radius: 5px;
    }

    tr:last-child td:last-child {
        border-bottom-right-radius: 5px;
    }

    td {
        background: #FFFFFF;
        padding: 14px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 18px;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    }

    td:last-child {
        border-right: 0px;
    }

    th.text-left {
        text-align: left;
    }

    th.text-center {
        text-align: center;
    }

    th.text-right {
        text-align: right;
    }

    td.text-left {
        text-align: left;
    }

    td.text-center {
        text-align: center;
    }

    td.text-right {
        text-align: right;
    }

    td.code {
        font-weight: 500;
    }
}

@media only screen and (max-width:330px) {

    /*-----------------ITEM----------------*/
    .item {
        position: relative;
        padding-top: 3em;
        padding-bottom: 1.5em;
        display: flex;
        flex-direction: column;
        min-height: 90vh;
        height: 100%;
        align-items: center;
    }

    .title-item {
        color: var(--darkblue);
        margin: 0;
        font-size: 1.5em;
    }

    .content-item {
        display: grid;
        grid-template-columns: auto;
        column-gap: 20em;
        row-gap: 1.5em;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin-top: 3em;
    }

    .image-div {
        display: flex;
        justify-content: center;
    }

    .item-img {
        display: flex;
        height: 180px;
        justify-content: center;
    }

    .info-div {
        display: flex;
        align-items: center;
    }

    .pdf {
        grid-column: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0.5em 1.5em;
        background-color: var(--darkblue);
        font-weight: 600;
        transition: 0.3s;
        border-radius: 4px;
    }

    .pdf:hover {
        background-color: var(--hoverdarkblue);
    }

    .pdf-content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        transition: 0.3s;
    }

    .pdf i {
        margin-right: 10px;
        filter: invert(100%);
    }

    /*---TABLE----*/
    .tabla-chica {
        background: white;
        border-radius: 3px;
        border-collapse: collapse;
        max-height: 220px;
        min-width: 270px;
        max-width: 230px;
        margin: auto;
        padding: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    th {
        color: #D5DDE5;
        ;
        background: var(--headerblack);
        font-size: 15px;
        font-weight: 500;
        padding: 13px;
        text-align: left;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        vertical-align: middle;
    }

    tr {
        color: var(--headerblack);
        font-size: 12px;
        font-weight: normal;
        text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    }

    tr:hover td {
        background-color: var(--darkblue);
        color: #FFFFFF;
    }

    tr:nth-child(odd) td {
        background: #EBEBEB;
    }

    tr:nth-child(odd):hover td {
        background-color: var(--darkblue);
    }

    tr:last-child td:first-child {
        border-bottom-left-radius: 5px;
    }

    tr:last-child td:last-child {
        border-bottom-right-radius: 5px;
    }

    td {
        background: #FFFFFF;
        padding: 10px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 14px;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    }

    td:last-child {
        border-right: 0px;
    }

    th.text-left {
        text-align: left;
    }

    th.text-center {
        text-align: center;
    }

    th.text-right {
        text-align: right;
    }

    td.text-left {
        text-align: left;
    }

    td.text-center {
        text-align: center;
    }

    td.text-right {
        text-align: right;
    }

    td.code {
        font-weight: 500;
    }

    summary {
        width: 270px;
        font-size: 0.8em;
    }

    .mini td {
        font-size: 14px;
    }

    .mini th {
        font-size: 14px;
    }
}